In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('G://exoplanetsorg210111-2.csv', header=0)
df

,name,m_sin_i__jupiter,axis_semi_major__au,period_orbital__day,eccenricity_orbital,w__deg,periastron_time__jd,velocity_semiaplitude__ms,reference_orbit,reference_first
0,Kepler-107 d,NaN,0.078010,7.958203,NaN,90.0,2.454971e+06,NaN,Rowe 2014,Rowe 2014
1,Kepler-1049 b,NaN,0.034472,3.273461,0.0,90.0,NaN,NaN,Morton 2016,Morton 2016
2,Kepler-813 b,NaN,0.137610,19.129473,0.0,90.0,NaN,NaN,Morton 2016,Morton 2016
3,Kepler-427 b,0.310432,0.091351,10.290994,0.0,90.0,2.454970e+06,29.8,Hebrard 2014,Borucki 2010
4,Kepler-1056 b,NaN,0.185149,27.495606,0.0,90.0,NaN,NaN,Morton 2016,Morton 2016
...,...,...,...,...,...,...,...,...,...,...
5742,KOI 7978.01,NaN,0.082100,7.268182,0.0,NaN,NaN,NaN,NaN,NaN
5743,KOI 7982.01,NaN,1.028700,376.379890,0.0,NaN,NaN,NaN,NaN,NaN
5744,KOI 8193.01,NaN,0.995500,367.947848,0.0,NaN,NaN,NaN,NaN,NaN
5745,KOI 7986.01,NaN,0.029000,1.739849,0.0,NaN,NaN,NaN,NaN,NaN
5746,KOI 7988.01,NaN,1.223300,333.486169,0.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,m_sin_i__jupiter,axis_semi_major__au,period_orbital__day,eccenricity_orbital,w__deg,periastron_time__jd,velocity_semiaplitude__ms
count,970.000000,5627.000000,5733.000000,4784.000000,3033.000000,1.697000e+03,983.000000
mean,2.059481,0.383545,254.594620,0.030990,108.003508,2.454726e+06,110.315067
std,3.013581,2.068768,5194.153163,0.104104,63.761567,2.951856e+03,188.179689
min,0.000000,0.000000,0.179715,0.000000,-159.800000,2.439969e+06,0.000000
25%,0.346817,0.056500,5.118000,0.000000,90.000000,2.454596e+06,17.250000
50%,1.041380,0.108427,13.839890,0.000000,90.000000,2.454973e+06,54.300000
75%,2.292277,0.283746,57.388826,0.000000,90.000000,2.455050e+06,134.500000
max,22.626100,113.443000,318498.000000,0.970000,359.430000,2.546665e+06,2194.000000

In [41]:
df.query('m_sin_i__jupiter == 0')

,name,m_sin_i__jupiter,axis_semi_major__au,period_orbital__day,eccenricity_orbital,w__deg,periastron_time__jd,velocity_semiaplitude__ms,reference_orbit,reference_first
649,K2-141 c,0.0,0.068301,7.748500,0.0,90.0,2.457751e+06,0.0,Malavolta 2018,Malavolta 2018
759,Kepler-407 b,0.0,0.014975,0.669311,0.0,90.0,2.454967e+06,0.0,Marcy 2014,Marcy 2014
1190,K2-105 b,0.0,0.080280,8.266902,NaN,NaN,NaN,0.0,Narita 2017,Narita 2017
1259,WASP-33 b,0.0,0.025548,1.219870,0.0,90.0,2.454590e+06,0.0,Collier-Cameron 2010,Christian 2006
2280,Kepler-100 c,0.0,0.109963,12.815900,0.0,NaN,NaN,0.0,Marcy 2014,Marcy 2014
3158,CoRoT-24 b,0.0,0.056289,5.113400,0.0,90.0,2.454790e+06,0.0,Alonso 2014,Alonso 2014
3262,Kepler-102 b,0.0,0.055137,5.286960,0.0,NaN,NaN,0.0,Marcy 2014,Marcy 2014

In [38]:
df.query('velocity_semiaplitude__ms == 0')
# Получилось семь планет с нулевой массой. Это ладно. Но нулевая лучевая скорость это как?

,name,m_sin_i__jupiter,axis_semi_major__au,period_orbital__day,eccenricity_orbital,w__deg,periastron_time__jd,velocity_semiaplitude__ms,reference_orbit,reference_first
649,K2-141 c,0.0,0.068301,7.748500,0.0,90.0,2.457751e+06,0.0,Malavolta 2018,Malavolta 2018
759,Kepler-407 b,0.0,0.014975,0.669311,0.0,90.0,2.454967e+06,0.0,Marcy 2014,Marcy 2014
1190,K2-105 b,0.0,0.080280,8.266902,NaN,NaN,NaN,0.0,Narita 2017,Narita 2017
1259,WASP-33 b,0.0,0.025548,1.219870,0.0,90.0,2.454590e+06,0.0,Collier-Cameron 2010,Christian 2006
2280,Kepler-100 c,0.0,0.109963,12.815900,0.0,NaN,NaN,0.0,Marcy 2014,Marcy 2014
3158,CoRoT-24 b,0.0,0.056289,5.113400,0.0,90.0,2.454790e+06,0.0,Alonso 2014,Alonso 2014
3262,Kepler-102 b,0.0,0.055137,5.286960,0.0,NaN,NaN,0.0,Marcy 2014,Marcy 2014